

#tou {
    height: 30px;background-color:#F5F5F5;font-size:12px;padding:0 10px;
    .ull{
       
        li{
            float:left;padding-right: 10px;line-height: 30px;
        }
    }


    .uls{
        float:right;
        li{float:left;padding-right: 10px;line-height: 30px;}
    }
}


#nav .cont{
        height: 156px;
    .nav_s{
            height: 117px;position:relative;
            h1{ width: 230px;height: 110px;background:url(../img/logoa.png) no-repeat;float:left;

            }
        .nav_b{height: 100px;

            input{width: 400px;height: 36px;border:2px solid #459D36;margin-left: 50px;}
            button{width: 76px;height: 40px;background-color:#459D36;margin-top: 29px;color:#fff;}

            ul{font-size:12px;color:#ddd;
                width: 900px;padding:8px 0 0 280px;
            li{
                float:left;padding-right: 10px;
            }
            span{border-right:1px solid #efefef;padding-right:10px;}
        }
    }
       
        h2{
            width: 149px;height: 40px;background:url(../img/3.png) no-repeat;position:absolute;top:30px;right:200px;
            // float:right;padding-right: 200px;margin-top: 30px;
        }
        p{
            float:right;
            font-size:14px;margin-right: 70px;margin-top: 30px;
           b{
                width: 40px;height: 45px;background:url(../img/5.png) no-repeat;position:absolute;top:30px;right:120px;
            }
            span{ color:#ccc;position:absolute;top:50px;right:30px;}

            
            
        }
    }

.nav_x{height: 40px;
    .ull{margin-left: 20px;
        li{width: 100px;
            float:left;padding:10px;border:1px solid #ddd;text-align:center;position:relative;
        .cb{
                position:absolute;top:41px;left:-122px;background-color:#FCFCFC;
                width:240px;z-index:1000;border:1px solid #58bc58;height:371px;display:none;
           
             h3{ 
                    margin-left: 10px;border-bottom:1px dashed #ccc;height: 50px;line-height: 50px;
                    a{
                        float:left;width: 88px;height: 50px;text-align:left;color:#000;
                        i{
                            color:#ddd;font-size:12px;
                        }
                    } 
                    p{
                        color:#58bc58;height: 50px;line-height: 50px;
                    }

                    .c1{   

                            position:absolute;top:0px;left:240px;
                            display:none;
                            box-shadow:1px 0px 5px 1px #58bc58;
                            width: 570px;height:388px;
                        .c2{height:176px;
                            
                            h1{position:relative;padding-right: 400px;height: 50px;border-bottom:1px dashed #ccc;
                               
                            }
                            .p1s{
                                    height: 30px;line-height: 30px;border-bottom:1px dashed #ccc;font-size:12px;
                              
                                a{
                                  color:#000;height: 30px;width: 60px;margin-left: 20px;
                                }
                                a:first-child{
                                   padding-left:30px;font-weight:bold;color:#58bc58;
                                }
                               a:nth-child(3){
                                   margin-left: 40px;
                                }
                            }

                            
                        }
                         .c3{height:211px;
                            
                            h1{position:relative;padding-right: 400px;height: 50px;border-bottom:1px dashed #ccc;
                            }
                            .p1s{
                                    height: 30px;line-height: 30px;border-bottom:1px dashed #ccc;font-size:12px;
                              
                                a{
                                  color:#000;height: 30px;width: 60px;margin-left: 20px;
                                }
                                a:first-child{
                                   padding-left:30px;font-weight:bold;color:#58bc58;
                                }
                               a:nth-child(3){
                                   margin-left: 40px;
                                }
                            }
                           
                        }
                        
                    }
                }

                h3:hover .c1{display:block;background-color:#fff;border-left-color:#fff;}
                h3:hover{background-color:#fff;border-right:0px;display:block;}
            }

        }

        li:hover .cb{display:block;}
    }
    
            .uls{ 
                li{
                    float:left;padding-right:58px;line-height: 40px;font-weight:bold;  position:relative;

                    i{
                        width: 16px;height: 18px;background:url(../img/gu.png) no-repeat;position:absolute;top:11px;left:-26px; transition:all 0.5s;

                    }
                    i:hover{
                        transform:rotate(360deg);
                    } 

                }
                 
                li:first-child{
                    border:none;
                     width: 100px;height: 36px;background:url(../img/6.png) no-repeat;margin-left: 20px;padding-right: 25px;
                }
            }
    }


}


.ko {
    margin-top: 5px;
    height: 40px;background-color:#F5F5F5;
}

#main {background-color:#F5F5F5;

.cont{height: 2270px;
    .main_l{float:left;
        width: 200px;height:2270px;
        .ule{
            width: 200px;height: 300px;border:1px solid #ddd;margin-left: 30px;font-size:16px;background-color:#fff;
            h1{
                font-weight:bold;
            }
            li{
                float:left;position:relative;padding-left: 40px;width: 157px;height: 50px;line-height: 50px;border-bottom:1px dashed #ddd;
                i{
                    width: 31px;height: 20px;background:url(../img/7.png) no-repeat;position:absolute;top:15px;left:0;
                }
            }
            li:last-child{border-bottom:none;

            }
            span{color:#ccc;}
        }
        h3{
            width: 204px;height: 275px;background:url(../img/8.png) no-repeat;margin:20px 0 0 25px;
        }
        h4{
            width: 204px;height: 107px;background:url(../img/9.png) no-repeat;margin:10px 0 0 25px;
        }

    }

    .main_r {float:left; height: 2270px;width: 914px;
        margin-left: 50px;
        .main_r_s{margin-bottom: 10px;border:1px solid #ccc;margin-left: 20px;
            height: 110px;background-color:#fff;
            .tl{height: 58px;
                border-bottom:1px solid #ccc;
                li{
                    float:left;padding:20px;border-right:1px solid #ccc;font-size:14px;padding-left: 10px; position:relative;
                    i{
                        width: 14px;height: 19px;background:url(../img/jian.png) no-repeat;position:absolute;top:20px;left:42px;

                    }
        

                    }
              
                    span{float:right;
                        color:#000;font-size:14px;padding:20px;

                    }


            }
            .luc{position:relative;
                li:nth-child(2){
                    border:1px solid #ccc;padding:10px;margin-top: 4px;
                }
                li{
                    float:left;margin-top: 14px;font-size:14px;margin-right: 25px;
                    i{
                        width: 17px;height: 19px;background:url(../img/w5.png) no-repeat;position:absolute;top:14px;left:196px;margin:0 8px;
                    }
                    b{
                       width: 19px;height: 19px;background:url(../img/w6.png) no-repeat;position:absolute;top:14px;left:290px;margin:0 8px; 
                    }
                }
                li:first-child{
                        padding-left: 20px;
                    }

            }


        }
        .main_r_x{height: 1000px;
         

            ul{
                li{
                    height: 320px;width: 200px;float:left;margin:12px;background-color:#fff;

                    p{
                       margin-top: 6px;font-size:14px; color:#444;line-height: 20px;padding:5px;

                    }
                    .list{
                        font-size:12px;color:#999999;padding-left:40px;
                    }
                    .list::before{content:"￥";}

                    .op{
                        font-size:16px;color:#f00;font-weight:bold;
                    }
                    .op::before{content:"￥";}
                    i{font-size:12px;color:#999999;padding-right:20px;padding:10px;}

                }
                li:hover{border:1px solid #58bc58;}
            }
        }

        #page{
            span{
            display:inline-block;margin:5px;width:40px;line-height:1.8;text-align: center;background-color:#dfdfdf;color:#666;

            
            }
        span.active{background-color:#fc0;color:#fff;}
 
        }
       

    }


}


}


 