#baner .cont {
  position: relative;
  height: 400px;
  border-bottom: 2px solid #ccc;
  padding-top: 20px;
}

#baner .cont .baner_l img {
  float: left;
  padding-left: 120px;
  display: block;
  height: 360px;
  width: 910px;
}

#baner .cont .baner_l #page {
  position: absolute;
  top: 336px;
  left: 536px;
}

#baner .cont .baner_l #page span {
  padding: 5px;
  height: 50px;
  border-radius: 50%;
  color: #ccc;
  border: 1px solid #ccc;
  font-size: 12px;
}

#baner .cont .baner_r {
  float: left;
  width: 100px;
  height: 360px;
}

#baner .cont .baner_r .lus li {
  float: left;
  border-bottom: 1px dashed #ccc;
}

#baner .cont .baner_r .lus li:last-child {
  border-bottom: none;
}

#djs .cont {
  border-bottom: 100px;
  height: 460px;
}

#djs .cont h1 {
  width: 328px;
  height: 460px;
  background: url(../img/time.png) no-repeat;
  float: left;
}

#djs .cont .tab .lud {
  overflow: hidden;
  height: 80px;
  float: right;
}

#djs .cont .tab .lud li {
  float: left;
  padding: 40px;
  font-size: 14px;
}

#djs .cont .tab .lud .active {
  color: #E42147;
  transform: scale(1.2);
  font-weight: bold;
}

#djs .cont .tab li:nth-child(6) {
  margin-right: 80px;
}

#djs .cont .tab .content .t1 li {
  width: 160px;
  float: left;
  padding: 25px;
  height: 300px;
  margin-top: 30px;
}

#djs .cont .tab .content .t1 li img {
  width: 97px;
  height: 120px;
  transition: all 2s;
}

#djs .cont .tab .content .t1 li img:hover {
  transform: translateY(-30px);
}

#djs .cont .tab .content .t1 li p {
  font-size: 12px;
  color: #5B4444;
}

#djs .cont .tab .content .t1 li span {
  font-size: 20px;
  color: #DD2727;
}

#djs .cont .tab .content .t1 li del {
  font-size: 12px;
  color: #999;
}

#djs .cont .tab .content .t1 li b {
  width: 100px;
  height: 70px;
  background-color: #f90;
}

#djs .cont .tab .content li:nth-child(1) {
  margin-left: 30px;
}

#djs .cont .tab .content .t2 li {
  width: 160px;
  float: left;
  padding: 25px;
  margin-top: 30px;
}

#djs .cont .tab .content .t2 li img {
  width: 97px;
  height: 120px;
  transition: all 2s;
}

#djs .cont .tab .content .t2 li img:hover {
  transform: translateY(-30px);
}

#djs .cont .tab .content .t2 li p {
  font-size: 12px;
  color: #5B4444;
}

#djs .cont .tab .content .t2 li span {
  font-size: 20px;
  color: #DD2727;
}

#djs .cont .tab .content .t2 li del {
  font-size: 12px;
  color: #999;
}

#djs .cont .tab .content .t3 li {
  width: 160px;
  float: left;
  padding: 25px;
  margin-top: 30px;
}

#djs .cont .tab .content .t3 li img {
  width: 97px;
  height: 120px;
  transition: all 2s;
}

#djs .cont .tab .content .t3 li img:hover {
  transform: translateY(-30px);
}

#djs .cont .tab .content .t3 li p {
  font-size: 12px;
  color: #5B4444;
}

#djs .cont .tab .content .t3 li span {
  font-size: 20px;
  color: #DD2727;
}

#djs .cont .tab .content .t3 li del {
  font-size: 12px;
  color: #999;
}

#djs .cont .tab .content .t4 li {
  width: 160px;
  float: left;
  padding: 25px;
  margin-top: 30px;
}

#djs .cont .tab .content .t4 li img {
  width: 97px;
  height: 120px;
  transition: all 2s;
}

#djs .cont .tab .content .t4 li img:hover {
  transform: translateY(-30px);
}

#djs .cont .tab .content .t4 li p {
  font-size: 12px;
  color: #5B4444;
}

#djs .cont .tab .content .t4 li span {
  font-size: 20px;
  color: #DD2727;
}

#djs .cont .tab .content .t4 li del {
  font-size: 12px;
  color: #999;
}

#djs .cont .tab .content .t5 li {
  width: 160px;
  float: left;
  padding: 25px;
  margin-top: 30px;
}

#djs .cont .tab .content .t5 li img {
  width: 97px;
  height: 120px;
  transition: all 2s;
}

#djs .cont .tab .content .t5 li img:hover {
  transform: translateY(-30px);
}

#djs .cont .tab .content .t5 li p {
  font-size: 12px;
  color: #5B4444;
}

#djs .cont .tab .content .t5 li span {
  font-size: 20px;
  color: #DD2727;
}

#djs .cont .tab .content .t5 li del {
  font-size: 12px;
  color: #999;
}

#djs .cont .tab .content .t6 li {
  width: 160px;
  float: left;
  padding: 25px;
  margin-top: 30px;
}

#djs .cont .tab .content .t6 li img {
  width: 97px;
  height: 120px;
  transition: all 2s;
}

#djs .cont .tab .content .t6 li img:hover {
  transform: translateY(-30px);
}

#djs .cont .tab .content .t6 li p {
  font-size: 12px;
  color: #5B4444;
}

#djs .cont .tab .content .t6 li span {
  font-size: 20px;
  color: #DD2727;
}

#djs .cont .tab .content .t6 li del {
  font-size: 12px;
  color: #999;
}

#main .cont {
  margin-top: 20px;
  height: 586px;
}

#main .cont .main_l {
  height: 40px;
  width: 300px;
  float: left;
  margin-top: 20px;
}

#main .cont .main_l img {
  float: left;
}

#main .cont .main_l p {
  float: left;
  margin: 8px 0 0 2px;
  font-size: 18px;
}

#main .cont .main_l h2 {
  width: 333px;
  height: 480px;
  background: url(../img/p1.png) no-repeat;
  margin-top: 40px;
}

#main .cont .tabs {
  float: right;
  width: 870px;
  height: 538px;
  margin-top: 10px;
}

#main .cont .tabs .active {
  color: #58bc58;
}

#main .cont .tabs .lus {
  font-size: bold;
  width: 850px;
  height: 40px;
  border-bottom: 1px solid #9F9F9F;
  padding: 5px;
  line-height: 40px;
  overflow: hidden;
}

#main .cont .tabs .lus li {
  float: left;
  font-size: 14px;
  border: 1px solid red;
  text-align: center;
  width: 90px;
  border-bottom: none;
  height: 43px;
}

#main .cont .tabs li:first-child {
  margin-left: 470px;
}

#main .cont .tabs li:hover {
  margin-top: 0px;
  border-color: #58bc58;
  border-bottom: 1px solid #ccc;
  color: #58bc58;
  height: 44px;
}

#main .cont .tabs .contents {
  height: 484px;
  float: left;
}

#main .cont .tabs .contents .box1 .big {
  height: 310px;
  border-bottom: 1px solid #ccc;
}

#main .cont .tabs .contents .box1 .big .lv_l {
  float: left;
  height: 309px;
  position: relative;
  border-right: 1px solid #ccc;
}

#main .cont .tabs .contents .box1 .big .lv_l .bao {
  position: absolute;
  top: 47px;
  left: 48px;
  font-size: 14px;
}

#main .cont .tabs .contents .box1 .big .lv_l .bao h3 {
  color: #ccc;
}

#main .cont .tabs .contents .box1 .big .lv_l .bao p {
  color: #f90;
}

#main .cont .tabs .contents .box1 .big .lv_c .lv_t {
  float: left;
  position: relative;
}

#main .cont .tabs .contents .box1 .big .lv_c .lv_t .bao {
  position: absolute;
  top: 47px;
  left: 48px;
  font-size: 14px;
}

#main .cont .tabs .contents .box1 .big .lv_c .lv_t .bao h3 {
  color: #ccc;
}

#main .cont .tabs .contents .box1 .big .lv_c .lv_t .bao p {
  color: #f90;
}

#main .cont .tabs .contents .box1 .big .lv_c .lv_o {
  float: left;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: relative;
}

#main .cont .tabs .contents .box1 .big .lv_c .lv_o .bao {
  position: absolute;
  top: 48px;
  left: 47px;
  font-size: 14px;
}

#main .cont .tabs .contents .box1 .big .lv_c .lv_o .bao h3 {
  color: #ccc;
}

#main .cont .tabs .contents .box1 .big .lv_c .lv_o .bao p {
  color: #f90;
}

#main .cont .tabs .contents .box1 .lv_y .lv_d {
  border-right: 1px solid #ccc;
  height: 176px;
  position: relative;
}

#main .cont .tabs .contents .box1 .lv_y .lv_d .baos {
  position: absolute;
  top: 48px;
  left: 47px;
  font-size: 14px;
}

#main .cont .tabs .contents .box1 .lv_y .lv_d .baos h3 {
  color: #ccc;
}

#main .cont .tabs .contents .box1 .lv_y .lv_d .baos p {
  color: #f90;
}

#main .cont .tabs .contents .box1 .lv_y .lv_d:nth-child(3) {
  border-right: 0px;
  /* style */
}

#main .cont .tabs .contents .ulss ul {
  padding-left: 20px;
}

#main .cont .tabs .contents .ulss ul li {
  float: left;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 170px;
  height: 209px;
  margin-left: 0px;
  padding: 20px;
}

#main .cont .tabs .contents .ulss ul li img {
  width: 104px;
  height: 104px;
  padding-left: 20px;
}

#main .cont .tabs .contents .ulss ul .title {
  font-size: 12px;
  color: #999;
  line-height: 20px;
}

#main .cont .tabs .contents .ulss ul .price {
  font-size: 16px;
  color: #D2041B;
}

#main .cont .tabs .contents .ulo ul {
  padding-left: 20px;
}

#main .cont .tabs .contents .ulo ul li {
  float: left;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 170px;
  height: 209px;
  margin-left: 0px;
  padding: 20px;
}

#main .cont .tabs .contents .ulo ul li img {
  width: 104px;
  height: 104px;
  padding-left: 20px;
}

#main .cont .tabs .contents .ulo ul .title {
  font-size: 12px;
  color: #999;
  line-height: 20px;
}

#main .cont .tabs .contents .ulo ul .price {
  font-size: 16px;
  color: #D2041B;
}

#main_c .cont {
  margin-top: 80px;
  height: 586px;
}

#main_c .cont .main_l {
  height: 40px;
  width: 300px;
  float: left;
  margin-top: 20px;
}

#main_c .cont .main_l img {
  float: left;
}

#main_c .cont .main_l p {
  float: left;
  margin: 8px 0 0 2px;
  font-size: 18px;
}

#main_c .cont .main_l h2 {
  width: 333px;
  height: 480px;
  background: url(../img/p2.png) no-repeat;
  margin-top: 40px;
}

#main_c .cont .tabc {
  float: right;
  width: 870px;
  height: 538px;
  margin-top: 16px;
}

#main_c .cont .tabc .active {
  color: #58bc58;
}

#main_c .cont .tabc .lus {
  float: right;
  width: 850px;
  height: 40px;
  border-bottom: 1px solid #9F9F9F;
  padding: 5px;
  line-height: 40px;
  overflow: hidden;
}

#main_c .cont .tabc .lus li {
  float: left;
  font-size: 14px;
  border: 1px solid red;
  text-align: center;
  width: 90px;
  border-bottom: none;
  height: 43px;
}

#main_c .cont .tabc li:first-child {
  margin-left: 470px;
}

#main_c .cont .tabc .contentc {
  height: 484px;
  float: left;
}

#main_c .cont .tabc .contentc .box1 .big {
  height: 310px;
  border-bottom: 1px solid #ccc;
}

#main_c .cont .tabc .contentc .box1 .big .lv_l {
  float: left;
  height: 309px;
  position: relative;
  border-right: 1px solid #ccc;
}

#main_c .cont .tabc .contentc .box1 .big .lv_l .bao {
  position: absolute;
  top: 47px;
  left: 48px;
  font-size: 14px;
}

#main_c .cont .tabc .contentc .box1 .big .lv_l .bao h3 {
  color: #ccc;
}

#main_c .cont .tabc .contentc .box1 .big .lv_l .bao p {
  color: #f90;
}

#main_c .cont .tabc .contentc .box1 .big .lv_c .lv_t {
  float: left;
  position: relative;
}

#main_c .cont .tabc .contentc .box1 .big .lv_c .lv_t .bao {
  position: absolute;
  top: 47px;
  left: 48px;
  font-size: 14px;
}

#main_c .cont .tabc .contentc .box1 .big .lv_c .lv_t .bao h3 {
  color: #ccc;
}

#main_c .cont .tabc .contentc .box1 .big .lv_c .lv_t .bao p {
  color: #f90;
}

#main_c .cont .tabc .contentc .box1 .big .lv_c .lv_o {
  float: left;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: relative;
}

#main_c .cont .tabc .contentc .box1 .big .lv_c .lv_o .bao {
  position: absolute;
  top: 48px;
  left: 47px;
  font-size: 14px;
}

#main_c .cont .tabc .contentc .box1 .big .lv_c .lv_o .bao h3 {
  color: #ccc;
}

#main_c .cont .tabc .contentc .box1 .big .lv_c .lv_o .bao p {
  color: #f90;
}

#main_c .cont .tabc .contentc .box1 .lv_y .lv_d {
  border-right: 1px solid #ccc;
  height: 176px;
  position: relative;
}

#main_c .cont .tabc .contentc .box1 .lv_y .lv_d .baos {
  position: absolute;
  top: 48px;
  left: 47px;
  font-size: 14px;
}

#main_c .cont .tabc .contentc .box1 .lv_y .lv_d .baos h3 {
  color: #ccc;
}

#main_c .cont .tabc .contentc .box1 .lv_y .lv_d .baos p {
  color: #f90;
}

#main_c .cont .tabc .contentc .box1 .lv_y .lv_d:nth-child(3) {
  border-right: 0px;
  /* style */
}

#main_c .cont .tabc .contentc .ulx ul {
  padding-left: 20px;
}

#main_c .cont .tabc .contentc .ulx ul li {
  float: left;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 170px;
  height: 209px;
  margin-left: 0px;
  padding: 20px;
}

#main_c .cont .tabc .contentc .ulx ul li img {
  width: 104px;
  height: 104px;
  padding-left: 20px;
}

#main_c .cont .tabc .contentc .ulx ul .title {
  font-size: 12px;
  color: #999;
  line-height: 20px;
}

#main_c .cont .tabc .contentc .ulx ul .price {
  font-size: 16px;
  color: #D2041B;
}

#main_c .cont .tabc .contentc .ulp ul {
  padding-left: 20px;
}

#main_c .cont .tabc .contentc .ulp ul li {
  float: left;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 170px;
  height: 209px;
  margin-left: 0px;
  padding: 20px;
}

#main_c .cont .tabc .contentc .ulp ul li img {
  width: 104px;
  height: 104px;
  padding-left: 20px;
}

#main_c .cont .tabc .contentc .ulp ul .title {
  font-size: 12px;
  color: #999;
  line-height: 20px;
}

#main_c .cont .tabc .contentc .ulp ul .price {
  font-size: 16px;
  color: #D2041B;
}

#main_n .cont {
  margin-top: 80px;
  height: 586px;
}

#main_n .cont .main_l {
  height: 40px;
  width: 300px;
  float: left;
  margin-top: 20px;
}

#main_n .cont .main_l img {
  float: left;
}

#main_n .cont .main_l p {
  float: left;
  margin: 8px 0 0 2px;
  font-size: 18px;
}

#main_n .cont .main_l h2 {
  width: 333px;
  height: 480px;
  background: url(../img/p3.png) no-repeat;
  margin-top: 40px;
}

#main_n .cont .tabn {
  float: right;
  width: 870px;
  height: 538px;
  margin-top: 12px;
}

#main_n .cont .tabn .active {
  color: #58bc58;
}

#main_n .cont .tabn .lus {
  float: right;
  width: 850px;
  height: 40px;
  border-bottom: 1px solid #9F9F9F;
  padding: 5px;
  line-height: 40px;
  overflow: hidden;
}

#main_n .cont .tabn .lus li {
  float: left;
  font-size: 14px;
  border: 1px solid red;
  text-align: center;
  width: 90px;
  border-bottom: none;
  height: 43px;
}

#main_n .cont .tabn li:first-child {
  margin-left: 470px;
}

#main_n .cont .tabn .contentn {
  height: 484px;
  float: left;
}

#main_n .cont .tabn .contentn .box1 .big {
  height: 310px;
  border-bottom: 1px solid #ccc;
}

#main_n .cont .tabn .contentn .box1 .big .lv_l {
  float: left;
  height: 309px;
  position: relative;
  border-right: 1px solid #ccc;
}

#main_n .cont .tabn .contentn .box1 .big .lv_l .bao {
  position: absolute;
  top: 47px;
  left: 48px;
  font-size: 14px;
}

#main_n .cont .tabn .contentn .box1 .big .lv_l .bao h3 {
  color: #ccc;
}

#main_n .cont .tabn .contentn .box1 .big .lv_l .bao p {
  color: #f90;
}

#main_n .cont .tabn .contentn .box1 .big .lv_c .lv_t {
  float: left;
  position: relative;
}

#main_n .cont .tabn .contentn .box1 .big .lv_c .lv_t .bao {
  position: absolute;
  top: 47px;
  left: 48px;
  font-size: 14px;
}

#main_n .cont .tabn .contentn .box1 .big .lv_c .lv_t .bao h3 {
  color: #ccc;
}

#main_n .cont .tabn .contentn .box1 .big .lv_c .lv_t .bao p {
  color: #f90;
}

#main_n .cont .tabn .contentn .box1 .big .lv_c .lv_o {
  float: left;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: relative;
}

#main_n .cont .tabn .contentn .box1 .big .lv_c .lv_o .bao {
  position: absolute;
  top: 48px;
  left: 47px;
  font-size: 14px;
}

#main_n .cont .tabn .contentn .box1 .big .lv_c .lv_o .bao h3 {
  color: #ccc;
}

#main_n .cont .tabn .contentn .box1 .big .lv_c .lv_o .bao p {
  color: #f90;
}

#main_n .cont .tabn .contentn .box1 .lv_y .lv_d {
  border-right: 1px solid #ccc;
  height: 176px;
  position: relative;
}

#main_n .cont .tabn .contentn .box1 .lv_y .lv_d .baos {
  position: absolute;
  top: 48px;
  left: 47px;
  font-size: 14px;
}

#main_n .cont .tabn .contentn .box1 .lv_y .lv_d .baos h3 {
  color: #ccc;
}

#main_n .cont .tabn .contentn .box1 .lv_y .lv_d .baos p {
  color: #f90;
}

#main_n .cont .tabn .contentn .box1 .lv_y .lv_d:nth-child(3) {
  border-right: 0px;
  /* style */
}

#main_n .cont .tabn .contentn .ula ul {
  padding-left: 20px;
}

#main_n .cont .tabn .contentn .ula ul li {
  float: left;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 170px;
  height: 209px;
  margin-left: 0px;
  padding: 20px;
}

#main_n .cont .tabn .contentn .ula ul li img {
  width: 104px;
  height: 104px;
  padding-left: 20px;
}

#main_n .cont .tabn .contentn .ula ul .title {
  font-size: 12px;
  color: #999;
  line-height: 20px;
}

#main_n .cont .tabn .contentn .ula ul .price {
  font-size: 16px;
  color: #D2041B;
}

#main_n .cont .tabn .contentn .ulf ul {
  padding-left: 20px;
}

#main_n .cont .tabn .contentn .ulf ul li {
  float: left;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 170px;
  height: 209px;
  margin-left: 0px;
  padding: 20px;
}

#main_n .cont .tabn .contentn .ulf ul li img {
  width: 104px;
  height: 104px;
  padding-left: 20px;
}

#main_n .cont .tabn .contentn .ulf ul .title {
  font-size: 12px;
  color: #999;
  line-height: 20px;
}

#main_n .cont .tabn .contentn .ulf ul .price {
  font-size: 16px;
  color: #D2041B;
}

#main_o .cont {
  margin-top: 60px;
  margin-bottom: 60px;
  height: 586px;
}

#main_o .cont .main_l {
  height: 40px;
  width: 300px;
  float: left;
  margin-top: 20px;
}

#main_o .cont .main_l img {
  float: left;
}

#main_o .cont .main_l p {
  float: left;
  margin: 8px 0 0 2px;
  font-size: 18px;
}

#main_o .cont .main_l h2 {
  width: 333px;
  height: 480px;
  background: url(../img/p4.png) no-repeat;
  margin-top: 40px;
}

#main_o .cont .tabo {
  float: right;
  width: 870px;
  height: 538px;
  margin-top: 12px;
}

#main_o .cont .tabo .active {
  color: #58bc58;
}

#main_o .cont .tabo .lus {
  float: right;
  width: 850px;
  height: 40px;
  border-bottom: 1px solid #9F9F9F;
  padding: 5px;
  line-height: 40px;
  overflow: hidden;
}

#main_o .cont .tabo .lus li {
  float: left;
  font-size: 14px;
  border: 1px solid red;
  text-align: center;
  width: 90px;
  border-bottom: none;
  height: 43px;
}

#main_o .cont .tabo li:first-child {
  margin-left: 470px;
}

#main_o .cont .tabo .contento {
  height: 484px;
  float: left;
}

#main_o .cont .tabo .contento .box1 .big {
  height: 310px;
  border-bottom: 1px solid #ccc;
}

#main_o .cont .tabo .contento .box1 .big .lv_l {
  float: left;
  height: 309px;
  position: relative;
  border-right: 1px solid #ccc;
}

#main_o .cont .tabo .contento .box1 .big .lv_l .bao {
  position: absolute;
  top: 47px;
  left: 48px;
  font-size: 14px;
}

#main_o .cont .tabo .contento .box1 .big .lv_l .bao h3 {
  color: #ccc;
}

#main_o .cont .tabo .contento .box1 .big .lv_l .bao p {
  color: #f90;
}

#main_o .cont .tabo .contento .box1 .big .lv_c .lv_t {
  float: left;
  position: relative;
}

#main_o .cont .tabo .contento .box1 .big .lv_c .lv_t .bao {
  position: absolute;
  top: 47px;
  left: 48px;
  font-size: 14px;
}

#main_o .cont .tabo .contento .box1 .big .lv_c .lv_t .bao h3 {
  color: #ccc;
}

#main_o .cont .tabo .contento .box1 .big .lv_c .lv_t .bao p {
  color: #f90;
}

#main_o .cont .tabo .contento .box1 .big .lv_c .lv_o {
  float: left;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: relative;
}

#main_o .cont .tabo .contento .box1 .big .lv_c .lv_o .bao {
  position: absolute;
  top: 48px;
  left: 47px;
  font-size: 14px;
}

#main_o .cont .tabo .contento .box1 .big .lv_c .lv_o .bao h3 {
  color: #ccc;
}

#main_o .cont .tabo .contento .box1 .big .lv_c .lv_o .bao p {
  color: #f90;
}

#main_o .cont .tabo .contento .box1 .lv_y .lv_d {
  border-right: 1px solid #ccc;
  height: 176px;
  position: relative;
}

#main_o .cont .tabo .contento .box1 .lv_y .lv_d .baos {
  position: absolute;
  top: 48px;
  left: 47px;
  font-size: 14px;
}

#main_o .cont .tabo .contento .box1 .lv_y .lv_d .baos h3 {
  color: #ccc;
}

#main_o .cont .tabo .contento .box1 .lv_y .lv_d .baos p {
  color: #f90;
}

#main_o .cont .tabo .contento .box1 .lv_y .lv_d:nth-child(3) {
  border-right: 0px;
  /* style */
}

#main_o .cont .tabo .contento .upl ul {
  padding-left: 20px;
}

#main_o .cont .tabo .contento .upl ul li {
  float: left;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 170px;
  height: 209px;
  margin-left: 0px;
  padding: 20px;
}

#main_o .cont .tabo .contento .upl ul li img {
  width: 104px;
  height: 104px;
  padding-left: 20px;
}

#main_o .cont .tabo .contento .upl ul .title {
  font-size: 12px;
  color: #999;
  line-height: 20px;
}

#main_o .cont .tabo .contento .upl ul .price {
  font-size: 16px;
  color: #D2041B;
}

#main_o .cont .tabo .contento .upr ul {
  padding-left: 20px;
}

#main_o .cont .tabo .contento .upr ul li {
  float: left;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 170px;
  height: 209px;
  margin-left: 0px;
  padding: 20px;
}

#main_o .cont .tabo .contento .upr ul li img {
  width: 104px;
  height: 104px;
  padding-left: 20px;
}

#main_o .cont .tabo .contento .upr ul .title {
  font-size: 12px;
  color: #999;
  line-height: 20px;
}

#main_o .cont .tabo .contento .upr ul .price {
  font-size: 16px;
  color: #D2041B;
}
