@charset "UTF-8";
#tou {
  height: 30px;
  background-color: #F5F5F5;
  font-size: 12px;
  padding: 0 10px;
}

#tou .ull li {
  float: left;
  padding-right: 10px;
  line-height: 30px;
}

#tou .uls {
  float: right;
}

#tou .uls li {
  float: left;
  padding-right: 10px;
  line-height: 30px;
}

#nav .cont {
  height: 156px;
}

#nav .cont .nav_s {
  height: 117px;
  position: relative;
}

#nav .cont .nav_s h1 {
  width: 230px;
  height: 110px;
  background: url(../img/logoa.png) no-repeat;
  float: left;
}

#nav .cont .nav_s .nav_b {
  height: 100px;
}

#nav .cont .nav_s .nav_b input {
  width: 400px;
  height: 36px;
  border: 2px solid #459D36;
  margin-left: 50px;
}

#nav .cont .nav_s .nav_b button {
  width: 76px;
  height: 40px;
  background-color: #459D36;
  margin-top: 29px;
  color: #fff;
}

#nav .cont .nav_s .nav_b ul {
  font-size: 12px;
  color: #ddd;
  width: 900px;
  padding: 8px 0 0 280px;
}

#nav .cont .nav_s .nav_b ul li {
  float: left;
  padding-right: 10px;
}

#nav .cont .nav_s .nav_b ul span {
  border-right: 1px solid #efefef;
  padding-right: 10px;
}

#nav .cont .nav_s h2 {
  width: 149px;
  height: 40px;
  background: url(../img/3.png) no-repeat;
  position: absolute;
  top: 30px;
  right: 200px;
}

#nav .cont .nav_s p {
  float: right;
  font-size: 14px;
  margin-right: 70px;
  margin-top: 30px;
}

#nav .cont .nav_s p b {
  width: 40px;
  height: 45px;
  background: url(../img/5.png) no-repeat;
  position: absolute;
  top: 30px;
  right: 120px;
}

#nav .cont .nav_s p span {
  color: #ccc;
  position: absolute;
  top: 50px;
  right: 30px;
}

#nav .cont .nav_x {
  height: 40px;
}

#nav .cont .nav_x .ull {
  margin-left: 20px;
}

#nav .cont .nav_x .ull li {
  width: 100px;
  float: left;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  position: relative;
}

#nav .cont .nav_x .ull li .cb {
  position: absolute;
  top: 41px;
  left: -122px;
  background-color: #FCFCFC;
  width: 240px;
  z-index: 1000;
  border: 1px solid #58bc58;
  height: 371px;
  display: none;
}

#nav .cont .nav_x .ull li .cb h3 {
  margin-left: 10px;
  border-bottom: 1px dashed #ccc;
  height: 50px;
  line-height: 50px;
}

#nav .cont .nav_x .ull li .cb h3 a {
  float: left;
  width: 88px;
  height: 50px;
  text-align: left;
  color: #000;
}

#nav .cont .nav_x .ull li .cb h3 a i {
  color: #ddd;
  font-size: 12px;
}

#nav .cont .nav_x .ull li .cb h3 p {
  color: #58bc58;
  height: 50px;
  line-height: 50px;
}

#nav .cont .nav_x .ull li .cb h3 .c1 {
  position: absolute;
  top: 0px;
  left: 240px;
  display: none;
  box-shadow: 1px 0px 5px 1px #58bc58;
  width: 570px;
  height: 388px;
}

#nav .cont .nav_x .ull li .cb h3 .c1 .c2 {
  height: 176px;
}

#nav .cont .nav_x .ull li .cb h3 .c1 .c2 h1 {
  position: relative;
  padding-right: 400px;
  height: 50px;
  border-bottom: 1px dashed #ccc;
}

#nav .cont .nav_x .ull li .cb h3 .c1 .c2 .p1s {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px dashed #ccc;
  font-size: 12px;
}

#nav .cont .nav_x .ull li .cb h3 .c1 .c2 .p1s a {
  color: #000;
  height: 30px;
  width: 60px;
  margin-left: 20px;
}

#nav .cont .nav_x .ull li .cb h3 .c1 .c2 .p1s a:first-child {
  padding-left: 30px;
  font-weight: bold;
  color: #58bc58;
}

#nav .cont .nav_x .ull li .cb h3 .c1 .c2 .p1s a:nth-child(3) {
  margin-left: 40px;
}

#nav .cont .nav_x .ull li .cb h3 .c1 .c3 {
  height: 211px;
}

#nav .cont .nav_x .ull li .cb h3 .c1 .c3 h1 {
  position: relative;
  padding-right: 400px;
  height: 50px;
  border-bottom: 1px dashed #ccc;
}

#nav .cont .nav_x .ull li .cb h3 .c1 .c3 .p1s {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px dashed #ccc;
  font-size: 12px;
}

#nav .cont .nav_x .ull li .cb h3 .c1 .c3 .p1s a {
  color: #000;
  height: 30px;
  width: 60px;
  margin-left: 20px;
}

#nav .cont .nav_x .ull li .cb h3 .c1 .c3 .p1s a:first-child {
  padding-left: 30px;
  font-weight: bold;
  color: #58bc58;
}

#nav .cont .nav_x .ull li .cb h3 .c1 .c3 .p1s a:nth-child(3) {
  margin-left: 40px;
}

#nav .cont .nav_x .ull li .cb h3:hover .c1 {
  display: block;
  background-color: #fff;
  border-left-color: #fff;
}

#nav .cont .nav_x .ull li .cb h3:hover {
  background-color: #fff;
  border-right: 0px;
  display: block;
}

#nav .cont .nav_x .ull li:hover .cb {
  display: block;
}

#nav .cont .nav_x .uls li {
  float: left;
  padding-right: 58px;
  line-height: 40px;
  font-weight: bold;
  position: relative;
}

#nav .cont .nav_x .uls li i {
  width: 16px;
  height: 18px;
  background: url(../img/gu.png) no-repeat;
  position: absolute;
  top: 11px;
  left: -26px;
  transition: all 0.5s;
}

#nav .cont .nav_x .uls li i:hover {
  transform: rotate(360deg);
}

#nav .cont .nav_x .uls li:first-child {
  border: none;
  width: 100px;
  height: 36px;
  background: url(../img/6.png) no-repeat;
  margin-left: 20px;
  padding-right: 25px;
}

.ko {
  margin-top: 5px;
  height: 40px;
  background-color: #F5F5F5;
}

#main {
  background-color: #F5F5F5;
}

#main .cont {
  height: 2270px;
}

#main .cont .main_l {
  float: left;
  width: 200px;
  height: 2270px;
}

#main .cont .main_l .ule {
  width: 200px;
  height: 300px;
  border: 1px solid #ddd;
  margin-left: 30px;
  font-size: 16px;
  background-color: #fff;
}

#main .cont .main_l .ule h1 {
  font-weight: bold;
}

#main .cont .main_l .ule li {
  float: left;
  position: relative;
  padding-left: 40px;
  width: 157px;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px dashed #ddd;
}

#main .cont .main_l .ule li i {
  width: 31px;
  height: 20px;
  background: url(../img/7.png) no-repeat;
  position: absolute;
  top: 15px;
  left: 0;
}

#main .cont .main_l .ule li:last-child {
  border-bottom: none;
}

#main .cont .main_l .ule span {
  color: #ccc;
}

#main .cont .main_l h3 {
  width: 204px;
  height: 275px;
  background: url(../img/8.png) no-repeat;
  margin: 20px 0 0 25px;
}

#main .cont .main_l h4 {
  width: 204px;
  height: 107px;
  background: url(../img/9.png) no-repeat;
  margin: 10px 0 0 25px;
}

#main .cont .main_r {
  float: left;
  height: 2270px;
  width: 914px;
  margin-left: 50px;
}

#main .cont .main_r .main_r_s {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  margin-left: 20px;
  height: 110px;
  background-color: #fff;
}

#main .cont .main_r .main_r_s .tl {
  height: 58px;
  border-bottom: 1px solid #ccc;
}

#main .cont .main_r .main_r_s .tl li {
  float: left;
  padding: 20px;
  border-right: 1px solid #ccc;
  font-size: 14px;
  padding-left: 10px;
  position: relative;
}

#main .cont .main_r .main_r_s .tl li i {
  width: 14px;
  height: 19px;
  background: url(../img/jian.png) no-repeat;
  position: absolute;
  top: 20px;
  left: 42px;
}

#main .cont .main_r .main_r_s .tl span {
  float: right;
  color: #000;
  font-size: 14px;
  padding: 20px;
}

#main .cont .main_r .main_r_s .luc {
  position: relative;
}

#main .cont .main_r .main_r_s .luc li:nth-child(2) {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 4px;
}

#main .cont .main_r .main_r_s .luc li {
  float: left;
  margin-top: 14px;
  font-size: 14px;
  margin-right: 25px;
}

#main .cont .main_r .main_r_s .luc li i {
  width: 17px;
  height: 19px;
  background: url(../img/w5.png) no-repeat;
  position: absolute;
  top: 14px;
  left: 196px;
  margin: 0 8px;
}

#main .cont .main_r .main_r_s .luc li b {
  width: 19px;
  height: 19px;
  background: url(../img/w6.png) no-repeat;
  position: absolute;
  top: 14px;
  left: 290px;
  margin: 0 8px;
}

#main .cont .main_r .main_r_s .luc li:first-child {
  padding-left: 20px;
}

#main .cont .main_r .main_r_x {
  height: 1000px;
}

#main .cont .main_r .main_r_x ul li {
  height: 320px;
  width: 200px;
  float: left;
  margin: 12px;
  background-color: #fff;
}

#main .cont .main_r .main_r_x ul li p {
  margin-top: 6px;
  font-size: 14px;
  color: #444;
  line-height: 20px;
  padding: 5px;
}

#main .cont .main_r .main_r_x ul li .list {
  font-size: 12px;
  color: #999999;
  padding-left: 40px;
}

#main .cont .main_r .main_r_x ul li .list::before {
  content: "￥";
}

#main .cont .main_r .main_r_x ul li .op {
  font-size: 16px;
  color: #f00;
  font-weight: bold;
}

#main .cont .main_r .main_r_x ul li .op::before {
  content: "￥";
}

#main .cont .main_r .main_r_x ul li i {
  font-size: 12px;
  color: #999999;
  padding-right: 20px;
  padding: 10px;
}

#main .cont .main_r .main_r_x ul li:hover {
  border: 1px solid #58bc58;
}

#main .cont .main_r #page span {
  display: inline-block;
  margin: 5px;
  width: 40px;
  line-height: 1.8;
  text-align: center;
  background-color: #dfdfdf;
  color: #666;
}

#main .cont .main_r #page span.active {
  background-color: #fc0;
  color: #fff;
}
